<html>
<head>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <link rel="stylesheet" href="http://cdn.graphalchemist.com/alchemy.min.css"/>
</head>
<body>
  <div class="alchemy" id="alchemy"></div>

  <script src="/js/alchemy.min.js"></script>
  <script type="text/javascript">
    var txUrl = "http://localhost:8080/db/data/transaction/commit";
    var xhr = new XMLHttpRequest();
    var findPath = function(fr, to){
      var urlString = ["", "path", fr.toString(), to.toString()].join("/");
      $.get(urlString, function(data){
        console.log(data);
      });
    }
    findPath(50, 45);
    var currentNodes = [null, null];
    var removeCurrentNode = function(node){
      if (currentNodes[0] == node){
        currentNodes[0] = null;
      }
      else if (currentNodes[1] == node){
        currentNodes[1] = currentNodes[0];
        currentNodes[0] = null;
      }
      // Else do nothing
      return
    }
    var addCurrentNode = function(node){
      if(currentNodes[0] == null){
        currentNodes[0] = node;
      }
      else if (currentNodes[1] == null){
        currentNodes[1] = currentNodes[0];
        currentNodes[0] = node;
      }
      // Remove highlight if something outside of our buffer is selected.
      else {
        // Remove highlight from currentNode[1] since it will be removed from the buffer
        currentNodes[1]._state = "active";
        currentNodes[1].setStyles();

        // Remove the current node and replace
        currentNodes[1] = currentNodes[0];
        currentNodes[0] = node;
        // TODO! Remove highlght code
      }
    }
    var checkState = function(node){
        // Add the node to currently selected queue
        if (node._state == "highlighted"){
          addCurrentNode(node);
        }
        else {
          removeCurrentNode(node);
        }
        console.log(currentNodes);
    }
    var config = {
            dataSource: "/graph",
            nodeClick: checkState,
            forceLocked: false,
            alpha: 0.00000000000001,
            linkDistance: 40,
            friction: 0.2
          };
    alchemy = new Alchemy(config);

  </script>
  </body>
</html>
