body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
h1 {
  float: left;
  color: white;
}
.menu {
  position: fixed;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  pointer-events: none;
}

.link {
  stroke: #FFF;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #686868;
}
.node.fixed.selected{
  fill: #FFFFFF;
}

.user {
  fill: #FF0000;
}
.topic {
  fill: #0000FF;
}

svg{
  width: 100%;
  height: 100%;
}
.graph{
  margin: auto;
}

.panel {
  float: right;
  clear: right;
  background-color: white;
}

td {
  pointer-events: auto;
}
/* dataSource: "/graph",
nodeClick: checkState,
forceLocked: false,
alpha: 0.00000000000001,
linkDistance: 40,
friction: 0.1,
nodeTypes: {"type" : ["user", "topic"]},
nodeStyle:{
  "all" : {
    color : "#00FF00"
  },
  "user" : {
    color : "#FF0000",
    selected: {
      "color": "#ffffff",
    },
    highlighted: {
      "color": "#b4dcff"
    }
  },
  "topic" : {
    color : "#0000FF",
    selected: {
      "color": "#ffffff",
    },
    highlighted: {
      "color": "#b4dcff"
    }
  }
},
edgeMouseOver : function(){},
deselectAll: refresh */
