/* App-wide settings */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
h1 {
  float: left;
  color: white;
}

/* Fixed position elements */
.menu {
  position: fixed;
  left: 0;
  right: 0;
  width: 98%;
  margin: 0 auto;
  z-index: 1;
  pointer-events: none;
}
.footer{
  position: fixed;
  bottom: 0px;
}

/* Graph settings */
.link {
  stroke: #FFF;
  stroke-width: 1.5px;
}
.node {
  cursor: move;
  stroke: #000;
  stroke-width: 1.5px;
}
.node.fixed {
  fill: #686868;
}
.node.fixed.selected{
  fill: #FFFFFF;
}

.user {
  fill: #FF0000;
}
.topic {
  fill: #0000FF;
}
svg{
  width: 100%;
  height: 100%;
}
.graph{
  margin: auto;
}
text{
  fill: white;
}

/* Panels */
.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  float:right;

  margin-top: 10px;
}

.panel {
  float: right;
  clear: right;
  background-color: white;
  display: none;
  max-width: 400px;
  flex: 1;
}

// Set panel order
.flexbox .panel:nth-child(1) {
  order: 0;
}
.flexbox .panel:nth-child(2) {
  order: 1;
}

td {
  pointer-events: auto;
}

/* Button styling */
.length {
  clear: right;
  float: right;
  width: 100%;
  pointer-events: auto;
  display: none;
  order: 2
}
